@{
    var medios = ViewBag.MediosDifusion;
}

<div class="row">
    <div class="col-lg-4">
        <h1>Mapa <small>Clientes por el mundo.</small></h1>
    </div>
    @*    <div class="col-lg-3" style="margin-top:26px">
            <select id="selFiltroTipoCli" name="selFiltroTipoCli" class="selectpicker">
                <option value="1">Todos</option>
                <option value="2">Vendidos</option>
                <option value="3">En Gesti&oacute;n</option>
            </select>
    </div>*@
    <div class="col-lg-8" style="margin-top: 10px">
        <div class="well well-sm">
            <div class="row">
                @foreach (var item in medios)
                {
                    <div class="col-lg-3">
                        <div class="input-group" >
                            <span class="input-group-addon">
                                <input type="checkbox" class="chkMediosDifusion" value="@item.ID" />
                            </span>
                            <input type="text" class="form-control txtMediosDifusion" readonly="true" value="@item.Descripcion" />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<hr />
